# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environment
venv/
env/

# IDE
.idea/
.vscode/

# Data
# data/input/*
data/output/*
!data/input/.gitkeep
!data/output/.gitkeep
tests/test_data/output_data/*

# Logs
*.log

# OS
.DS_Store
